@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Langar&family=Montez&family=Noto+Sans&family=Noto+Sans+Display&display=swap');

* {
    /* border: 1px #9a13fd solid; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    font-family: "Noto Sans Display", "Noto Sans", "Open Sans", sans-serif;
    background-color: #dbc18f;
    color: hsl(223, 54%, 15%);
    overflow: hidden;
    position: relative;
}


#content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image:
        url('./img/mysore-pak.jpg'),
        url('./img/ladoos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #dbc18f;
    transform: translate(50px, 50px) scale(1.25);
}

.background.second-image {
    background-image: 
        url('./img/ladoos.jpg');
        /* url('./img/malai-peda.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.25);
}

.background.final {
    background-image: 
        url('./img/malai-peda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeIn 3s forwards;
}


@media (prefers-reduced-motion: no-preference) {
    .transformed {
        transform: scale(1);
        transition: transform 6.5s ease-in-out;
    }

    .second-image.transformed {
        transition: transform 4.5s ease-in-out;
    }
}

nav {
    grid-area: 1 / 1 / 1 / 4;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    margin-top: 50px;
    padding-inline: 4rem;
    padding-block: 1rem;
    z-index: 1000;
    font-size: 2rem;
    text-transform: uppercase;
    mix-blend-mode: multiply;
    opacity: 0;
    visibility: hidden;
    /* transition: opacity 1s 3s; */

}

nav.visible {
    visibility: visible;
    animation: fadeIn 8s forwards;
}

nav .tab {
    transition: all 300ms;
}

nav .tab:hover {
    transform: scale(1.2);
}

nav .tab.current {
    border-bottom: 3px white solid;
    mix-blend-mode: overlay;
    border-top: 3px transparent solid;
    padding: 3px;
}


video {
    opacity: 0;

    /* position: absolute;
    inset-block: 30vh;
    inset-inline: 20vw; */
    width: 100%;
    grid-area: 1 / 1 / 4 / 4;
    place-self: center;
    z-index: 999;
    /* place-self: initial; */
    animation: fadeOut 2s forwards;
}

video.visible {
    opacity: .8;
    transition: opacity 3s 5s;
    animation: fadeIn 10s forwards;
}

button {
    z-index: 100;
    grid-area: 2 / 2 / 3 / 3;
    color: white;
    background-color: hsl(223, 54%, 15%);
    font-weight: bold;
    mix-blend-mode: multiply;
    place-self: center;
    font-size: 3rem;
    padding-inline: 50px;
    padding-block: 10px;
    border: 1px solid hsl(223, 54%, 15%);
    transition: opacity 3s;
    border-radius: 5px;
}

.skip {
    opacity: 0;
    grid-area: 3 / 3;
    transition: opacity 1s;
    font-size: 2rem;
}

.loader {
    z-index: 101;
    grid-area: 2 / 2 / 3 / 3;
    z-index: 9001;
}

.loader-background {
    grid-area: 1 / 1 / 4 / 4;
    width: 100%;
    height: 100%;
    background-color: #dbc18f;
    z-index: 9000;
}

.loader-background.loaded {
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
}

.punjabi,
.english {
    color: white;
    mix-blend-mode: overlay;
    line-height: 10rem;
    z-index: 1002;
    pointer-events: none;
}

.punjabi {
    font-size: 10rem;
    grid-area: 2 / 1 / 3 / 4;
    opacity: 0;
    font-family: 'Langar', sans-serif;
}

.punjabi.visible {
    opacity: 1;
    transition: opacity 2s 5s;
}

.punjabi span {
    font-size: 4rem;
}

.english {
    mix-blend-mode: overlay;
    opacity: 0;
    grid-area: 2 / 1 / 2 / 4;
}

.english h1{
    text-transform: uppercase;
    font-size: 7rem;
}

.english p {
    font-family: 'Montez', sans-serif;
    font-size: 5rem;
    text-align: right;
}

.punjabi.transitioned {
    opacity: 0;
    transition: opacity 1s 3s;
}

.english.transitioned {
    opacity: 1;
    transition: opacity 1s 3s;
    mix-blend-mode: unset;
    color:hsl(223, 54%, 15%);
}


@keyframes fadeIn{
    0%      { opacity: 0; }
    100%    { opacity: 1; }
}

@keyframes fadeOut{
    0%      { opacity: 1; }
    100%    { opacity: 0; }
}